{{currentImageName}}
<app-photo [image]="currentImage" [album_id]="album_id"></app-photo>

<label>
  <input type="checkbox" [(ngModel)]="showEdit" />
  編集
</label>
<label>
  <input type="checkbox" [(ngModel)]="showPhotoDateTime"/>
  撮影日時
</label>
<label>
  <input type="checkbox" [(ngModel)]="showPhotoDetail"/>
  写真詳細
</label>
<li>読み込み処理中: {{loading}}</li>
<li>全画像数: {{fileList.length}}</li>
<li>読み込み完了画像数: {{imageList.length}}</li>

<div *ngIf="editable || fileList.length == 0">
  <p *ngIf="uploadable" (dragover)="dndFiles($event)" (drop)="dndFiles($event)">
    画像を選択
    <input type="file" multiple (change)="append($event.target.files)" />
  </p>
  <p *ngIf="!uploadable">
    アップロードできません。
  </p>

  <ul>
    <li>名前空間使用中: {{hasFileList}}</li>
    <li>暗号鍵の検証に成功: {{validFileList}}</li>
    <li>待機数: {{readQueue.length}}</li>
    <li>読み込み数: {{encryptQueue.length}}</li>
    <li>暗号化完了数: {{uploadQueue.length}}</li>
    <li>アップロード完了数: {{completedCount}}</li>
  </ul>

  <ol>
    <li>画像のファイル名は公開情報になるので、秘匿すべき情報はファイル名に含まないこと。</li>
  </ol>
</div>

<div *ngIf="(fileList.length > 0) && (fileList.length === imageList.length)">
  <button (click)="downloadAsZip()">すべて保存</button>
</div>

<div class="photo-list">
  <div *ngFor="let image of imageList">
    <img [src]="image?.url" *ngIf="image?.url" (click)="gotoPhoto(image)" />
    <div>
      <a [href]="image?.originalImageUrl" download="{{image?.name}}">{{image?.name}}</a>
      <button (click)="delete(image)" *ngIf="editable">削除</button>
    </div>
    <div *ngIf="(image?.tags['DateTimeOriginal'] || image?.tags['DateTime']) && showPhotoDateTime">
      撮影日時: {{image?.tags['DateTimeOriginal'] || image?.tags['DateTime']}}
    </div>
    <div *ngIf="image?.tags && showPhotoDetail">
      Model: {{image?.tags['Model']}},
      SS: {{image?.exposureTime}},
      F: {{image?.tags['FNumber']}},
      ISO: {{image?.tags['ISOSpeedRatings']}},
      焦点距離: {{image?.tags['FocalLength']}}mm,
      <span *ngIf="image?.tags['FocalLengthIn35mmFilm']">
      焦点距離（35mm換算）: {{image?.tags['FocalLengthIn35mmFilm']}}mm
      </span>
      <label>
        <input type="checkbox" [(ngModel)]="image.showFullExif" />
        EXIF
      </label>
      <div *ngIf="image?.showFullExif">
        {{image?.tags | json}}
      </div>
    </div>
  </div>
</div>
