<p>imgs is Image Viewer on Secure Cloud Storage used end-to-end encryption.</p>
<ol>
  <li>以下の「アルバム作成」ボタンをクリックすると、アルバム投稿画面に遷移します。</li>
  <li>そのアルバム投稿画面のURLをローカルに保存してください。</li>
  <li>保存したURLが閲覧画面のURLにもなります。このURLを知っている人のみが画像を閲覧できます。</li>
  <li>URLを紛失した場合、画像を元に戻すことができなくなります。</li>
</ol>
<p>
  <label>
    アルバム名
    <input type="text" [(ngModel)]="albumName"/>
  </label>
  <br/>
  <button (click)="createAlbum()">アルバム作成</button>
</p>

<p>アルバム作成ボタンをクリックした時点でストレージにアクセスして同名のアルバムの存在を確認する。
  すでに存在している場合は、alertを出してアルバム名の変更を促す。</p>
