.photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
}
.photo-list img {
    width: 300px;
    image-orientation: from-image;
}
.photo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
